<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Sentiment Analysis</title>
      <script type = "text/javascript" src = "{{ url_for('static', filename = 'hello.js') }}"></script>
  </head>
  <body>
    <h1>PROJECT: Sentiment Analysis</h1>
    <hr />
    <div>
      <form action = "/predict" method = "POST">
        <p><h3>Type sentense</h3></p>
        <p><input type="text" name="input_tweet" /></p>
        <p><input type='submit' value='Get Prediction' /></p>
      </form>
    </div>
  </body>
</html>